@model SSU.Reception.Models.Direction

@{
    ViewBag.Title = "Удаление направления";
}

<h3>Вы уверены, что хотите удалить это направление?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BudgetPlaces)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BudgetPlaces)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Вернуться к списку направлений", "Index")
        </div>
    }
</div>
