@model IEnumerable<SSU.Reception.Models.Enrollee>

@{
    ViewBag.Title = "Главная";
}

<div class="panel panel-info">

    <div class="panel-heading">
        Общий рейтинг абитуриентов на @DateTime.Now
    </div>

    <div class="panel-body">
        @using (Html.BeginForm("Index", "Home", new { page = ViewData["page"] }, FormMethod.Get, new { @class = "form-inline", @style = "justify-content: space-between; display: flex" }))
        {
            @Html.AntiForgeryToken()

            <!-- Чекбокс "Только активные абитуриенты" -->
            <div>
                @Html.CheckBox("activeOnly", (bool)ViewData["activeOnly"], new { @class = "form-check-input", @id = "checkbox-activity" })
                <label class="form-check-label" for="checkbox-activity">Только активные абитуриенты</label>
            </div>

            <!-- Чекбокс "Только оригинал аттестата" -->
            <div>
                @Html.CheckBox("originalCertificateOnly", (bool)ViewData["originalCertificateOnly"], new { @class = "form-check-input", @id = "checkbox-certificate" })
                <label class="form-check-label" for="checkbox-certificate">Только оригинал аттестата</label>
            </div>

            <!-- Кнопка "применить" -->
            <input type="submit" value="Применить" class="btn btn-success" />
        }
    </div>

</div>

<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th id="index" rowspan="2">#</th>
                <th id="first_status" rowspan="2">Статус в приказе после 29 июля и 1 августа</th>
                <th id="FIO" rowspan="2">ФИО</th>
                <th id="second_status" rowspan="2">Статус поступления</th>
                <th id="original_direction" rowspan="2">Направление, на котором лежит оригинал</th>
                <th id="first_priority" rowspan="2">1-й приоритет</th>
                <th id="second_priority" rowspan="2">2-й приоритет</th>
                <th id="third_priority" rowspan="2">3-й приоритет</th>
                <th id="point_sum" rowspan="2">Общая сумма баллов</th>
                <th colspan="3">Баллы ЕГЭ</th>
                <th id="medal_point" rowspan="2">Баллы за медаль</th>
                <th id="dop_point" rowspan="2">Доп. баллы</th>
                <th id="original_status" rowspan="2">Статус оригинала</th>
                <th id="change_column" rowspan="2">Изменить</th>
                <th id="delete_column" rowspan="2">Удалить</th>
            </tr>
            <tr>
                <th>И</th>
                <th>М</th>
                <th>Р</th>
            </tr>
        </thead>
        @{
            int i = 1;
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>@i</td>
                @{
                    i++;
                }
                <!-- Статус в приказе после 29 июля и 1 августа -->
                <td>
                    @Html.DisplayFor(modelItem => item.EnrollmentStatus)
                </td>
                <!-- ФИО -->
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                    @Html.DisplayFor(modelItem => item.Name)
                    @Html.DisplayFor(modelItem => item.Patronymic)
                </td>
                <!-- Статус поступления -->
                <td>
                    @Html.DisplayFor(modelItem => item.GetReceiptStatus)
                </td>
                <!-- Направление, на котором лежит оригинал -->
                <td>
                    @Html.DisplayFor(modelItem => item.FirstPriority.Name)
                </td>
                <!-- 1-й приоритет -->
                <td>
                    @Html.DisplayFor(modelItem => item.FirstPriority.Name)
                </td>
                <!-- 2-й приоритет -->
                <td>
                    @Html.DisplayFor(modelItem => item.SecondPriority.Name)
                </td>
                <!-- 3-й приоритет -->
                <td>
                    @Html.DisplayFor(modelItem => item.ThirdPriority.Name)
                </td>
                <!-- Общая сумма баллов -->
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPoints)
                </td>
                <!-- Баллы ЕГЭ -->
                <td>
                    @Html.DisplayFor(modelItem => item.CSScore)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MathScore)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RussianScore)
                </td>
                <!-- Баллы за медаль -->
                <td>
                    @Html.DisplayFor(modelItem => item.HasMedal)
                </td>
                <!-- Доп. баллы -->
                <td>
                    @Html.DisplayFor(modelItem => item.ExtraPoints)
                </td>
                <!-- Статус оригинала -->
                <td>
                    @Html.DisplayFor(modelItem => item.OriginalCertificate)
                </td>

                <!-- Статус зачисления в другом вузе -->
                @*<td></td>*@

                <!-- Изменить -->
                <td>
                    @Html.ActionLink("Изменить", "Edit", "Enrollees", new { id = item.Id }, null)
                </td>
                <!-- Инфо -->
                <td>
                    @Html.ActionLink("Инфо", "Details", "Enrollees", new { id = item.Id }, null)
                </td>
                <!-- Удалить -->
                <td>
                    @Html.ActionLink("Удалить", "Delete", "Enrollees", new { id = item.Id }, null)
                </td>
            </tr>
        }
    </table>
</div>