@model IEnumerable<SSU.Reception.Models.Enrollee>

@{
    ViewBag.Title = "Точный список " + @ViewData["DirectionName"];
}

<div class="panel panel-info">

    <div class="panel-heading">
        Точный список для направления @ViewData["DirectionName"] на @DateTime.Now
    </div>

    <div class="panel-body">
        @using (Html.BeginForm("Index", "Home", new { page = ViewData["page"] }, FormMethod.Get, new { @class = "form-inline", @style = "justify-content: space-between; display: flex" }))
        {
            @Html.AntiForgeryToken()

            <!-- Чекбокс "Только активные абитуриенты" -->
            <div>
                @Html.CheckBox("activeOnly", (bool)ViewData["activeOnly"], new { @class = "form-check-input", @id = "checkbox-activity" })
                <label class="form-check-label" for="checkbox-activity">Только активные абитуриенты</label>
            </div>

            <!-- Чекбокс "Только оригинал аттестата" -->
            <div>
                @Html.CheckBox("originalCertificateOnly", (bool)ViewData["originalCertificateOnly"], new { @class = "form-check-input", @id = "checkbox-certificate" })
                <label class="form-check-label" for="checkbox-certificate">Только оригинал аттестата</label>
            </div>

            <!-- Кнопка "применить" -->
            <input type="submit" value="Применить" class="btn btn-success" />
        }
    </div>
</div>

<!-- Экспорт в эксель -->
<div style="justify-content: center; width: 100%; margin:15px 15px 2px 4px;">
    <button class="btn btn-primary" onclick="javascript: fnExcelReport('dataTable', '@ViewData["DirectionName"] @DateTime.Now.ToString("G")')">Экспорт</button>
</div>

<div class="table-responsive">
    <table id="dataTable" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th id="index" rowspan="2">#</th>
                <th id="first_status" rowspan="2">Ст. в прик.</th>
                <th id="FIO" rowspan="2">ФИО</th>
                <th id="point_sum" rowspan="2">Сум. балл</th>
                <th colspan="4">Баллы ЕГЭ</th>
                <th id="second_status" rowspan="2">Ст. поступ.</th>
                <th id="original_direction" rowspan="2">Напр. где ориг.</th>
                <th id="first_priority" rowspan="2">1-й пр.</th>
                <th id="second_priority" rowspan="2">2-й пр.</th>
                <th id="third_priority" rowspan="2">3-й пр.</th>
                <th id="medal_point" rowspan="2">Медаль</th>
                <th id="dop_point" rowspan="2">Доп. баллы</th>
                <th id="original_status" rowspan="2">Ст. ориг.</th>
                <th id="change_column" rowspan="2" class="contact-table__actions"></th>
            </tr>
            <tr>
                <th>М</th>
                <th>И</th>
                <th>Р</th>
                <th>О</th>
            </tr>
        </thead>
        @{
            int i = 1;
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>@i</td>
                @{
                    i++;
                }
                <!-- Статус в приказе после 29 июля и 1 августа -->
                <td>
                    @Html.BoolToString(item.EnrollmentStatus)
                </td>
                <!-- ФИО -->
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                    @Html.DisplayFor(modelItem => item.Name)
                    @Html.DisplayFor(modelItem => item.Patronymic)
                </td>
                <!-- Общая сумма баллов -->
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPoints)
                </td>
                <!-- Баллы ЕГЭ -->
                <td>
                    @Html.DisplayFor(modelItem => item.MathScore)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CSScore)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RussianScore)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SSScore)
                </td>
                <!-- Статус поступления -->
                <td>
                    @Html.DisplayFor(modelItem => item.ReceiptStatusToString)
                </td>
                <!-- Направление, на котором лежит оригинал -->
                <td>
                    @{
                        if (item.OriginalCertificate == true)
                        {
                            @Html.DisplayFor(modelItem => item.FirstPriority.Name)
                        };
                    }
                </td>
                <!-- 1-й приоритет -->
                <td>
                    @Html.DisplayFor(modelItem => item.FirstPriority.Name)
                </td>
                <!-- 2-й приоритет -->
                <td>
                    @Html.DisplayFor(modelItem => item.SecondPriority.Name)
                </td>
                <!-- 3-й приоритет -->
                <td>
                    @Html.DisplayFor(modelItem => item.ThirdPriority.Name)
                </td>
                <!-- Баллы за медаль -->
                <td>
                    @Html.BoolToString(item.HasMedal)
                </td>
                <!-- Доп. баллы -->
                <td>
                    @Html.DisplayFor(modelItem => item.ExtraPoints)
                </td>
                <!-- Статус оригинала -->
                <td>
                    @Html.BoolToString(item.OriginalCertificate)
                </td>

                <!-- Статус зачисления в другом вузе -->
                @*<td></td>*@

                <!-- Изменить -->
                <td class="contact-table__actions">
                    @Html.ActionLink("Изменить", "Edit", "Enrollees", new { id = item.Id }, null)
                    <!-- Инфо -->
                    @Html.ActionLink("Инфо", "Details", "Enrollees", new { id = item.Id }, null)
                    <!-- Удалить -->
                    @Html.ActionLink("Удалить", "Delete", "Enrollees", new { id = item.Id }, null)
                </td>
            </tr>
        }
    </table>
</div>

<script src="~/Scripts/FileSaver.js"></script>
<script src="~/Scripts/excel-export.js"></script>