@model SSU.Reception.Models.Enrollee

@{
    ViewBag.Title = "Удаление абитуриента";
}

<h2>Удаление абитуриента</h2>

<h3>Вы уверены, что хотите удалить этого абитуриента?</h3>
<div>
    <hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.Surname)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Surname)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Name)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Name)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Patronymic)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Patronymic)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.School)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.School)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.ExamYear)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.ExamYear)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.PersonalPhone)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.PersonalPhone)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.MathScore)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.MathScore)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.RussianScore)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.RussianScore)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.CSScore)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.CSScore)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.SSScore)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.SSScore)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.HasMedal)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.HasMedal)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.FirstLevelOlympiad)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.FirstLevelOlympiad)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.OtherOlympiads)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.OtherOlympiads)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.ReceiptStatus)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.ReceiptStatus)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.TotalPoints)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.TotalPoints)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.OriginalCertificate)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.OriginalCertificate)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.FirstPriority)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.FirstPriority)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.SecondPriority)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.SecondPriority)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.ThirdPriority)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.ThirdPriority)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.FirstPriorityNumber)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.FirstPriorityNumber)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.SecondPriorityNumber)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.SecondPriorityNumber)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.ThirdPriorityNumber)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.ThirdPriorityNumber)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Comment)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Comment)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.EnrollmentStatus)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.EnrollmentStatus)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.ActivityStatus)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.ActivityStatus)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.ConversionHistory)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.ConversionHistory)
		</dd>

	</dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-danger" /> |
            @Html.ActionLink("Вернуться к списку абитуриентов", "Index")
        </div>
    }
</div>
